.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}
.new-expense__control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.new-expense__control input {
    font: inherit;
    width: 20rem;
    max-width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 0.5rem;
}
.new-expense__actions {
    text-align: right;
}
.new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
.new-expense button:hover,
.new-expense button:active {
  background-color: #510674;
  border-color: #510674;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}